* {
  box-sizing: border-box;
  margin: 0;
  padding: 9;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.6;
  color: #222;
  background-color: #FAFAFA;

  padding: 2rem;
}
